/* Custom styles */
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
}

/* Sidebar styles */
.sidebar {
  width: 250px; /* Adjusted width */
  background-color: #fff; /* Changed to white for a clean look */
  padding: 1rem;
  height: 100vh;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
  overflow-x: hidden;
  z-index: 1000; /* Ensure sidebar stacks on top */
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem; /* Increased space below header */
}

.header .logo {
  width: 60px; /* Increased size */
  height: auto;
  margin-right: 1rem; /* Added space between logo and title */
}

.header .site-title {
  font-size: 1.5rem; /* Increased size */
  color: #194b2b;
  font-weight: bold; /* Made the title bold */
}

/* Navigation styles */
.main-nav ul {
  list-style-type: none;
}

.main-nav ul li a {
  display: block;
  padding: 0.5rem 1rem; /* Adjusted padding */
  text-decoration: none;
  color: #333;
  border-radius: 0.5rem; /* Rounded corners for nav items */
  transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.main-nav ul li a:hover {
  background-color: #e8e8e8; /* Hover effect */
}

.main-nav ul li a.active, .main-nav ul li a.home-tab {
  font-weight: bold;
  color: #4caf50; /* Changed to primary color for active state */
  background-color: #f0f0f0; /* Light background for active state */
  border-left: 4px solid #61ef94; /* Added left border for active state */
  margin-left: -1rem; /* Adjust margin to align with the border */
  padding-left: calc(1rem + 4px); /* Adjust padding to maintain alignment */
}

/* Main content styles */
.main-content {
  margin-left: 250px; /* Adjusted to match sidebar width */
  padding: 1rem;
  display: flex;
  flex-wrap: wrap; /* Wrap content on smaller screens */
}

.left-content,
.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-content,
.right-content {
  overflow-y: auto;
}
.inspection-section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-right: 20px;
  border: 2px solid transparent;
  overflow-y: auto;
}

.row-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}

.inspection-section:hover {
  border: 2px solid rgba(0, 255, 0, 0.5);
}

.inspection-header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: #eef1ef;
  border-radius: 20px 20px 0 0;
  padding: 10px;
}

.header-item {
  text-align: center;
}

.inspection-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px;
}

.inspection-meta {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid #cfd7d1;
  height: 50px;
  padding: 0 10px;
}

.photo-button-item,
.download-button-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-button-item img,
.download-button-item img {
  object-fit: cover;
  width: 3vw;
  height: 3vw;
}

.inspection-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 3vw;
  padding: 3px;
}

.inspection-progress img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.gallery-section {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  overflow-y: auto;
  height: 100%;
}

.gallery-section:hover {
  border: 2px solid rgba(0, 255, 0, 0.5);
}

.gallery-header {
  display: flex;
  justify-content: space-between;
  background-color: #eef1ef;
  border-radius: 20px 20px 0 0;
  padding: 10px;
}

.gallery-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 5px;
}

.gallery-item {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d9d9d9;
  color: #fff;
  padding: 5px;
  opacity: 0;
  transition: opacity;
  border-radius: 20px;
  width: 90%;
  height: 70%;
  text-align: center;
}

.gallery-item:hover figcaption {
  opacity: 1;
}

.footer {
  clear: both;
  padding: 20px;
  background-color: #f8f9f9;
  text-align: center;
}

.analytics-section {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-right: 20px;
  border: 2px solid transparent;
  margin-bottom: 20px;
  height: 50%;
}

.analytics-section:hover {
  border: 2px solid rgba(0, 255, 0, 0.5);
}

.analytics-header {
  display: flex;
  justify-content: space-between;
  background-color: #eef1ef;
  border-radius: 20px 20px 0 0;
  padding: 10px;
}

.analytics-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.bar-chart-container {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.bar-chart {
  display: flex;
  height: auto;
}

.chart-segment {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  text-align: center;
  align-items: center;
  color: #fff;
  white-space: normal;
}

.chart-segment.passed {
  background-color: #61ef94;
}
.chart-segment.failed {
  background-color: #efe161;
}
.chart-segment.not-done {
  background-color: #cfd7d1;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-content {
    margin-left: 0;
  }

  .left-content,
  .right-content {
    flex: none;
    width: 100%;
  }
}


